html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    background: #eee;
}

.loading * {
    pointer-events: none;
}

.padding {
    padding: 10px;
}

.col {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #fff;
    color: #666666;
    text-align: center;
    font-weight: 400;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.row h3 {
    color: #666666;
}

.row.grid {
    margin-left: 0;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 15px 10px 10px 20px;
}

.grid .grid-header:before,
.grid .grid-header:after {
    display: table;
    content: " ";
}

.grid .grid-header:after {
    clear: both;
}

.grid .grid-header span,
.grid .grid-header > .fa {
    display: inline-block;
    margin: 0;
    font-weight: 300;
    font-size: 1.5em;
    float: left;
}

.grid .grid-header span {
    padding: 0 5px;
}

.grid .grid-header > .fa {
    padding: 5px 10px 0 0;
}

.grid .grid-header > .grid-tools {
    padding: 4px 10px;
}

.grid .grid-header > .grid-tools a {
    color: #999999;
    padding-left: 10px;
    cursor: pointer;
}

.grid .grid-header > .grid-tools a:hover {
    color: #666666;
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.grid .full {
    padding: 0 !important;
}

.grid .transparent {
    box-shadow: none !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.grid.top.black > .grid-header {
    border-top-color: #000000 !important;
}

.grid.bottom.black > .grid-body {
    border-bottom-color: #000000 !important;
}

.grid.top.blue > .grid-header {
    border-top-color: #007be9 !important;
}

.grid.bottom.blue > .grid-body {
    border-bottom-color: #007be9 !important;
}

.grid.top.green > .grid-header {
    border-top-color: #00c273 !important;
}

.grid.bottom.green > .grid-body {
    border-bottom-color: #00c273 !important;
}

.grid.top.purple > .grid-header {
    border-top-color: #a700d3 !important;
}

.grid.bottom.purple > .grid-body {
    border-bottom-color: #a700d3 !important;
}

.grid.top.red > .grid-header {
    border-top-color: #dc1200 !important;
}

.grid.bottom.red > .grid-body {
    border-bottom-color: #dc1200 !important;
}

.grid.top.orange > .grid-header {
    border-top-color: #f46100 !important;
}

.grid.bottom.orange > .grid-body {
    border-bottom-color: #f46100 !important;
}

.grid.no-border > .grid-header {
    border-bottom: 0px !important;
}

.grid.top > .grid-header {
    border-top-width: 4px !important;
    border-top-style: solid !important;
}

.grid.bottom > .grid-body {
    border-bottom-width: 4px !important;
    border-bottom-style: solid !important;
}

.support ul.support-label {
    list-style: none;
    padding: 0px;
}

.support ul.support-label li {
    padding: 8px 10px;
}

.support ul.support-label li a {
    color: #999;
    display: block;
}

.support ul.support-label li a:hover {
    color: #666;
}

.support ul.support-label li.active {
    background: #0073b7;
}

.support ul.support-label li.active a {
    color: #fff;
}

.support-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.support-label-span {
    margin-right: 10px;
}

.support ul.support-label li {
    padding: 2px 0px;
}

.support h2,
.support-content h2 {
    margin-top: 5px;
}

.support-content .list-group li {
    padding: 15px 20px 12px 20px;
    cursor: pointer;
}

.support-content .list-group li:hover {
    background: #eee;
}

.support-content .fa-padding .fa {
    padding-top: 5px;
    width: 1.5em;
}

.support-content .info {
    color: #777;
    margin: 0px;
}

.support-content a {
    color: #111;
}

.support-content .info a:hover {
    text-decoration: underline;
}

.support-content .info .fa {
    width: 1.5em;
    text-align: center;
}

.support-content .number {
    color: #777;
}

.support-content img {
    margin: 0 auto;
    display: block;
}

.support-content .modal-body {
    padding-bottom: 0px;
}

.support-content-comment {
    padding: 10px 10px 10px 30px;
    background: #eee;
    border-top: 1px solid #ccc;
}

.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, bg-gray, bg-black, .bg-red a, .bg-yellow a, .bg-aqua a, .bg-blue a, .bg-light-blue a, .bg-green a, .bg-navy a, .bg-teal a, .bg-olive a, .bg-lime a, .bg-orange a, .bg-fuchsia a, .bg-purple a, .bg-maroon a, bg-gray a, .bg-black a {
    color: #f9f9f9 !important;
}

.bg-white, .bg-white a {
    color: #999999 !important;
}

.bg-red {
    background-color: #f56954 !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-light-blue {
    background-color: #3c8dbc !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-navy {
    background-color: #001f3f !important;
}

.bg-teal {
    background-color: #39cccc !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.bg-lime {
    background-color: #01ff70 !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.bg-fuchsia {
    background-color: #f012be !important;
}

.bg-purple {
    background-color: #932ab6 !important;
}

.bg-maroon {
    background-color: #85144b !important;
}

.bg-gray {
    background-color: #eaeaec !important;
}

.bg-black {
    background-color: #222222 !important;
}
.support-content a.btn {
    color: #fff;
}
.custom-sidebar {
    padding-right: 15px;
    padding-left: 0;
}
.custom-content {
    padding-right: 0;
    padding-left: 0;
}
.navbar-search-btn {
    color: #fff;
}
.page-section {
    margin-top: 15px;
}
.navbar-main-panel {
    margin-top: 10px;
    border-radius: 4px;
}
.invalid-feedback, .invalid-feedback-backend {
    margin-bottom: -10px;
    margin-top: -3px;
}
.page-title-hr {
    margin: 15px 0px 15px 0px;
}
.bottom-copyright {
    float: right;
    font-size: 0.8em;
    color: #a5a5a5;
    margin-top: -15px;
    margin-bottom: 10px;
}
.bottom-copyright > a {
    color: #a5a5a5 !important;
}
i.flag:not(.icon), i.flag:not(.icon):before {
    display: inline-block;
    width: 16px;
    height: 11px;
}
i.flag:not(.icon) {
    margin: 0 0.5em 0 0;
    line-height: 11px;
    text-decoration: inherit;
    vertical-align: baseline;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
i.flag:not(.icon):before {
    content: "";
    background: url(../images/flags.png) no-repeat -108px -1976px;
}
i.flag:not(.icon), i.flag:not(.icon):before {
    display: inline-block;
    width: 16px;
    height: 11px;
}
i.flag:before {
    display: inline-block;
    width: 16px;
    height: 11px;
    content: "";
    background: url(../images/flags.png) no-repeat -108px -1976px;
}
i.flag-belarus:before, i.flag-by:before {
    background-position: 0 -858px!important;
}
i.flag-america:before, i.flag-united-states:before, i.flag-us:before {
    background-position: -72px -1950px!important;
}
i.flag-ru:before, i.flag-russia:before {
    background-position: -72px -884px!important;
}
.user-dropdown > a {
    padding-top: 0;
    padding-bottom: 0;
}
.search-input {
    font-size: 0.9em;
}
.sidebar-row {
    margin-right: 0;
    margin-left: 0;
}

@media (max-width: 1200px) {
    #navbar-role {
        display: none;
    }
}

@media (max-width: 575px) {
    #profile-nav {
        margin-top: 15px;
    }
}
@media (max-width: 992px) {
    .custom-sidebar {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .navbar-search {
        margin-top: 10px;
    }
    .navbar-search > .typeahead{
        position: absolute;
    }
    #navbar-role {
        display: block;
    }
}
@media (min-width: 992px) {
    .navbar-search {
        width: 450px;
    }
}
.form-check {
    padding-left: 0px;
}
.user-role-span {
    font-size: 0.8rem;
    text-transform: capitalize;
    cursor: default !important;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 0px;
    margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 0;
    right: 0;
    bottom: -6px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.toast {
    box-shadow: none !important;
}
.invalid-feedback-backend {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.form-control.is-invalid-field {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}

.form-control.is-valid-field {
    border-color: #28a745;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.pills-tab {
    margin-top: 20px;
}
.profile-role {
    margin-top:10px;
}
#avatar-form {
    margin-top:10px;
    margin-bottom: 10px;
}
.other-categories {
    width: 100%;
    text-align: left;
}
.support-label>li>a {
    text-decoration: none;
}
.sidebar-label {
    padding: 0px 5px 5px 5px;
}
#noResults {
    top: 38px;
    left: 0px;
    display: block;
    padding: 10px 15px 10px 15px;
    color: #7e7e7e;
    cursor: default;
}
.ck-editor {
    width: 100%;
}
.ck-content {
    min-height: 220px;
}
.attachments li {
    padding: 0px 5px 0px 10px;
    list-style: none;
    border: 1px #dfdfdf solid;
    border-radius: 2px;
    background: #fdfdfd;
    margin-bottom: 3px;
    margin-left: -40px;
}
.attachments.download li:hover {
    background: #f7f4f4 !important;
    cursor: pointer !important;
}
.attachments.download span {
    cursor: pointer !important;
}
.file-attachment {
    margin-right: 5px;
}
.remove-attachment {
    float:right;
    margin-left: 5px;
    color: #f00 !important;
}
.attachments>li>span {
    cursor: default;
}
.card-header {
    background: rgb(248, 249, 250)
}
.card-block {
    font-size: 1rem;
    color: #495057 !important;
}
.note-placeholder {
    font-size: 1rem;
}
.note-editor.note-frame {
    border: 1px solid #ced4da !important;
}
.custom-checkbox {
    display: none !important;
}
.pagination {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 15px;
}
.author-lnk {
    color: #000 !important;
}
.has-solution {
    margin-left: 10px;
    margin-top: 1px;
}
button:focus {
    outline:0 !important;
}
.questions-group {
    display: block;
    margin-left: -5px;
    margin-right: -5px;
}
.create-question {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    margin-left: 20px !important;
}
.container {
    min-width: 770px !important;
}
.bootstrap-select>button {
    border: 1px #ced4da solid;
}
input[type="search"] {
    border: 1px solid gray;
    padding: 0.2em 0.4em 0.2em 0.8em;
    border-radius: .2em;
}

input[type="search"].dark {
    background: #222;
    color: #fff;
}

input[type="search"].light {
    background: #fff;
    color: #222;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(../../font-awesome/5.15.4/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
    filter: invert(1);
}
.dx-blog-post .dx-blog-post-info.dx-blog-post-info-style-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 0px 100px;
    color: #525252;
    font-size: 0.9em !important;
}
.dx-blog-post .dx-blog-post-info {
    display: block;
    padding: 0;
    margin: -8px -12px 23px;
    font-size: .9375rem;
    color: #7a7a7a;
}
.mb-0 {
    margin-bottom: 0!important;
}
.mt-0 {
    margin-top: 0!important;
}
.dx-blog-post .dx-blog-post-info.dx-blog-post-info-style-2>li:first-child {
    -webkit-box-flex: .5;
    -ms-flex-positive: .5;
    flex-grow: .5;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.dx-blog-post .dx-blog-post-info.dx-blog-post-info-style-2>li {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 7px 5px 0px 5px;
    border-right: 1px solid #ececec;
}
.dx-blog-post .dx-blog-post-info>li {
    display: inline-block;
    padding: 8px 12px 0;
    margin: 0;
    list-style: none;
    cursor: default;
}
.dx-blog-post .dx-blog-post-info.dx-blog-post-info-style-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 0 100px;
    margin: 0;
    color: #525252;
}
.dx-blog-post .dx-blog-post-info {
    display: block;
    padding: 0;
    margin: -8px -12px 23px;
    font-size: .9375rem;
    color: #7a7a7a;
}
.dx-blog-post .dx-blog-post-info.dx-blog-post-info-style-2 .dx-blog-post-info-title {
    display: block;
    margin-top: -4px;
    margin-bottom: -4px;
    font-family: "Maven Pro",sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    color: #1b1b1b;
    text-transform: uppercase;
    cursor: default;
}
.dx-separator {
    display: block;
    border-bottom: 1px solid #ececec;
}
.dx-ticket-comment {
    padding: 50px;
}
.dx-comment {
    position: relative;
    padding: 0;
}
.dx-comment>div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0px;
}
.dx-comment .dx-comment-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    min-width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 3px;
}
.dx-comment .dx-comment-img img {
    width: 100%;
    height: 100%;
    font-family: "object-fit: cover";
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px;
}
.dx-comment-cont {
    margin-left: 20px;
    width: 100%;
}
.dx-comment .dx-comment-cont .dx-comment-name {
    position: relative;
    display: inline-block;
    top: -6px;
    font-weight: 600;
    color: #1b1b1b;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.dx-comment .dx-comment-cont .dx-comment-name+.dx-comment-date {
    margin-top: -10px;
    cursor: default;
}
.dx-comment .dx-comment-cont .dx-comment-date {
    display: block;
    font-size: .875rem;
    color: #7a7a7a;
}
.dx-comment .dx-comment-cont .dx-comment-date+.dx-comment-text {
    margin-top: 5px;
    margin-bottom: -6px;
}
.dx-ticket-comment .dx-comment-text+.dx-comment-file {
    margin-top: 30px;
}
.dx-ticket-comment .dx-comment-file .dx-comment-file-img {
    position: absolute;
    top: 12px;
    left: 12px;
}
.dx-ticket-comment .dx-comment-file .dx-comment-file-name {
    display: block;
    margin-top: -8px;
    font-size: .875rem;
}
.dx-ticket-comment .dx-comment-file .dx-comment-file-size {
    display: block;
    margin-top: -1px;
    margin-bottom: -6px;
    font-size: .875rem;
    color: #bababa;
}
.dx-ticket-comment .dx-comment-file .dx-comment-file-icon {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    right: 20px;
    bottom: 0;
    font-size: 1rem;
}
.dx-blog-post {
    margin-left: -20px !important;
    margin-right: -20px !important;
    margin-top: -20px !important;
}
.dx-comment {
    padding: 20px;
    border-bottom: 1px #ececec solid !important;
}
.main-post {
    border-left: 3px #cbcbcb solid;
}
.dx-blog-post .dx-blog-post-box {
    padding: 25px;
}
.slider-light {
    width: 42px;
    position: absolute;
    cursor: pointer;
    top: 11px;
    left: 0;
    right: 0;
    bottom: -3px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider-light:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
img {
    pointer-events: none !important;
}
.reply-link {
    cursor: pointer;
    bottom: 5px;
    right: 20px;
    position: absolute;
}
.reply-link:hover {
    text-decoration: underline !important;
}
.like-btn {
    cursor: default !important;
    color: #000 !important;
}
.like-none {
    cursor: pointer !important;
}
.solution-link {
    cursor: pointer;
    top: 20px;
    right: 20px;
    position: absolute;
}
.solution-link:hover {
    text-decoration: underline !important;
}
.solution-mark {
    font-size: 1.5em;
    color: #28a745 !important;
}