body {
    background: #eee;
}

.loading * {
    pointer-events: none;
}

.padding {
    padding: 10px;
}

.col {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #fff;
    color: #666666;
    text-align: center;
    font-weight: 400;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.row h3 {
    color: #666666;
}

.row.grid {
    margin-left: 0;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 15px 10px 10px 20px;
}

.grid .grid-header:before,
.grid .grid-header:after {
    display: table;
    content: " ";
}

.grid .grid-header:after {
    clear: both;
}

.grid .grid-header span,
.grid .grid-header > .fa {
    display: inline-block;
    margin: 0;
    font-weight: 300;
    font-size: 1.5em;
    float: left;
}

.grid .grid-header span {
    padding: 0 5px;
}

.grid .grid-header > .fa {
    padding: 5px 10px 0 0;
}

.grid .grid-header > .grid-tools {
    padding: 4px 10px;
}

.grid .grid-header > .grid-tools a {
    color: #999999;
    padding-left: 10px;
    cursor: pointer;
}

.grid .grid-header > .grid-tools a:hover {
    color: #666666;
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.grid .full {
    padding: 0 !important;
}

.grid .transparent {
    box-shadow: none !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.grid.top.black > .grid-header {
    border-top-color: #000000 !important;
}

.grid.bottom.black > .grid-body {
    border-bottom-color: #000000 !important;
}

.grid.top.blue > .grid-header {
    border-top-color: #007be9 !important;
}

.grid.bottom.blue > .grid-body {
    border-bottom-color: #007be9 !important;
}

.grid.top.green > .grid-header {
    border-top-color: #00c273 !important;
}

.grid.bottom.green > .grid-body {
    border-bottom-color: #00c273 !important;
}

.grid.top.purple > .grid-header {
    border-top-color: #a700d3 !important;
}

.grid.bottom.purple > .grid-body {
    border-bottom-color: #a700d3 !important;
}

.grid.top.red > .grid-header {
    border-top-color: #dc1200 !important;
}

.grid.bottom.red > .grid-body {
    border-bottom-color: #dc1200 !important;
}

.grid.top.orange > .grid-header {
    border-top-color: #f46100 !important;
}

.grid.bottom.orange > .grid-body {
    border-bottom-color: #f46100 !important;
}

.grid.no-border > .grid-header {
    border-bottom: 0px !important;
}

.grid.top > .grid-header {
    border-top-width: 4px !important;
    border-top-style: solid !important;
}

.grid.bottom > .grid-body {
    border-bottom-width: 4px !important;
    border-bottom-style: solid !important;
}

.support ul.support-label {
    list-style: none;
    padding: 0px;
}

.support ul.support-label li {
    padding: 8px 10px;
}

.support ul.support-label li a {
    color: #999;
    display: block;
}

.support ul.support-label li a:hover {
    color: #666;
}

.support ul.support-label li.active {
    background: #0073b7;
}

.support ul.support-label li.active a {
    color: #fff;
}

.support-label {
    margin-top: 10px;
}

.support-label-span {
    margin-right: 10px;
}

.support ul.support-label li {
    padding: 2px 0px;
}

.support h2,
.support-content h2 {
    margin-top: 5px;
}

.support-content .list-group li {
    padding: 15px 20px 12px 20px;
    cursor: pointer;
}

.support-content .list-group li:hover {
    background: #eee;
}

.support-content .fa-padding .fa {
    padding-top: 5px;
    width: 1.5em;
}

.support-content .info {
    color: #777;
    margin: 0px;
}

.support-content a {
    color: #111;
}

.support-content .info a:hover {
    text-decoration: underline;
}

.support-content .info .fa {
    width: 1.5em;
    text-align: center;
}

.support-content .number {
    color: #777;
}

.support-content img {
    margin: 0 auto;
    display: block;
}

.support-content .modal-body {
    padding-bottom: 0px;
}

.support-content-comment {
    padding: 10px 10px 10px 30px;
    background: #eee;
    border-top: 1px solid #ccc;
}

.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, bg-gray, bg-black, .bg-red a, .bg-yellow a, .bg-aqua a, .bg-blue a, .bg-light-blue a, .bg-green a, .bg-navy a, .bg-teal a, .bg-olive a, .bg-lime a, .bg-orange a, .bg-fuchsia a, .bg-purple a, .bg-maroon a, bg-gray a, .bg-black a {
    color: #f9f9f9 !important;
}

.bg-white, .bg-white a {
    color: #999999 !important;
}

.bg-red {
    background-color: #f56954 !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-light-blue {
    background-color: #3c8dbc !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-navy {
    background-color: #001f3f !important;
}

.bg-teal {
    background-color: #39cccc !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.bg-lime {
    background-color: #01ff70 !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.bg-fuchsia {
    background-color: #f012be !important;
}

.bg-purple {
    background-color: #932ab6 !important;
}

.bg-maroon {
    background-color: #85144b !important;
}

.bg-gray {
    background-color: #eaeaec !important;
}

.bg-black {
    background-color: #222222 !important;
}
.support-content a.btn {
    color: #fff;
}
.custom-sidebar {
    padding-right: 15px;
    padding-left: 0;
}
.custom-content {
    padding-right: 0;
    padding-left: 0;
}
.navbar-search-btn {
    color: #fff;
}
.page-section {
    margin-top: 15px;
}
.navbar-main-panel {
    margin-top: 10px;
    border-radius: 4px;
}
.invalid-feedback, .invalid-feedback-backend {
    margin-bottom: -10px;
    margin-top: -3px;
}
.page-title-hr {
    margin: 15px 0px 15px 0px;
}
.bottom-copyright {
    float: right;
    font-size: 0.8em;
    color: #a5a5a5;
    margin-top: -15px;
    margin-bottom: 10px;
}
.bottom-copyright > a {
    color: #a5a5a5 !important;
}
i.flag:not(.icon), i.flag:not(.icon):before {
    display: inline-block;
    width: 16px;
    height: 11px;
}
i.flag:not(.icon) {
    margin: 0 0.5em 0 0;
    line-height: 11px;
    text-decoration: inherit;
    vertical-align: baseline;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
i.flag:not(.icon):before {
    content: "";
    background: url(../images/flags.png) no-repeat -108px -1976px;
}
i.flag:not(.icon), i.flag:not(.icon):before {
    display: inline-block;
    width: 16px;
    height: 11px;
}
i.flag:before {
    display: inline-block;
    width: 16px;
    height: 11px;
    content: "";
    background: url(../images/flags.png) no-repeat -108px -1976px;
}
i.flag-belarus:before, i.flag-by:before {
    background-position: 0 -858px!important;
}
i.flag-america:before, i.flag-united-states:before, i.flag-us:before {
    background-position: -72px -1950px!important;
}
i.flag-ru:before, i.flag-russia:before {
    background-position: -72px -884px!important;
}
.user-dropdown > a {
    padding-top: 0;
    padding-bottom: 0;
}
.search-input {
    font-size: 0.9em;
}
.sidebar-row {
    margin-right: 0;
    margin-left: 0;
}
@media (max-width: 992px) {
    .custom-sidebar {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .navbar-search {
        margin-top: 10px;
    }
    .navbar-search > .typeahead{
        position: absolute;
    }
}
@media (min-width: 992px) {
    .navbar-search {
        width: 450px;
    }
}
.form-check {
    padding-left: 0px;
}
.user-role-span {
    font-size: 0.8rem;
    text-transform: capitalize;
    cursor: default !important;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 0px;
    margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 0;
    right: 0;
    bottom: -6px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.toast {
    box-shadow: none !important;
}
.invalid-feedback-backend {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.form-control.is-invalid-field {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}

.form-control.is-valid-field {
    border-color: #28a745;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}